.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid tomato;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: purple;
}
#SnowMan {
  transition: all 1s ease-in;
  width: 400px;
}

.HeadAnimate {
  margin-left: 60px;
  z-index: 500;
  position: absolute;

  animation: Happy_Snowman 3s infinite;
  -moz-animation: Happy_Snowman 3s infinite;
  -webkit-animation: Happy_Snowman 3s infinite;
}
@keyframes Happy_Snowman {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes Happy_Snowman {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(10deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-10deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes Happy_Snowman {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
.BodyAnimate {
  padding-top: 110px;

  z-index: 200;
  animation: bottom_animation 3s infinite;
  -moz-animation: bottom_animation 3s infinite;
  -webkit-animation: bottom_animation 3s infinite;
}
@keyframes bottom_animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes bottom_animation {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(-3deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(3deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-webkit-keyframes bottom_animation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }
  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
@keyframes blink {
  90% {
    -webkit-transform: none;
    transform: none;
  }
  95% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.eye {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  color: #000;
  border-radius: 50%;
  top: 100px;
  -webkit-animation: blink 5s ease-in-out infinite;
  animation: blink 5s ease-in-out infinite;
}
.eye.left {
  top: 120px;
  left: 60px;
  z-index: 600;
}
.eye.right {
  top: 110px;
  left: 105px;
  z-index: 600;
}

/* Scale Snowman down based on screen width */
@media (max-width: 900px) {
  #SnowMan {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
  #SnowMan {
    transform: scale(0.5);
  }
}

/***************************

END SNOWMAN

***************************/


/* =========================================
   ANIMATED PNG FLAKES
   - Uses 3 layered PNGs
========================================= */
.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000; /* Bring above content */
  pointer-events: none; /* Don’t block clicks */

  background: none;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake1.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png");
  background-repeat: repeat;
  background-size: 600px 600px;

  /* Single standard animation, no vendor prefixes needed now */
  animation: snow 10s linear infinite;
}

/* =========================================
   KEYFRAMES – shared by both layers
   - Moves multiple background layers
     at different speeds/directions
========================================= */
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}






body {
  margin: 0;
  padding: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;       
  justify-content: center;

  /* Main winter-night gradient */
  background:
    radial-gradient(
      circle at 50% 120%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 60%
    ),
    radial-gradient(
      circle at 80% 0%,
      rgba(0, 140, 255, 0.25) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle at 20% -10%,
      rgba(255, 200, 255, 0.25) 0%,
      rgba(0, 0, 0, 0) 45%
    ),
    linear-gradient(
      to bottom,
      #0a0f1e 0%,
      #0b1224 30%,
      #08101f 60%,
      #050b16 100%
    );

  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}